<div class="light-container clearfix">
  <h3 class="title-2">Artwork Details</h3>

  <% if flash.has?(:message) %>
    <p id="flash-message"><%= flash[:message] %></p>
  <% end %>

  <h3><%= @artwork.name %> by <%= @artwork.artist %></h3>
  <p>category: <%= @artwork.category %><br>

  <p>This work of art is in the collection of <%= @artwork.users.count %> club member(s).</p>
  <p>Entered into the database by <%= User.find_by_id(@artwork.creator_id).name %>.</p>

  <button class="button-1-float"><a href="/artworks/<%= @artwork.slug %>/edit">Edit Artwork Details</a></button>
  
  <form method="POST" action="/artworks/<%= @artwork.slug %>/delete">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" id="submit-2" value="Delete Artwork">
  </form>
</div>
