<div class="light-container clear">


  <h2 class="view-title"><%= @user.name %>'s Finer Things</h2>

  <% if flash.has?(:message) %>
    <p id="flash-message"><%= flash[:message] %></p>
  <% end %>

  <h3 class="table-title">Fine Books</h3>
  <% if @user.books.empty? %>
    <p>You don't have any books in your collection. Add one <a href="/books/new">here</a></p>
  <% else %>
  <table>
    <thead>
      <th class="tcol-1"></th>
      <th class="tcol-2"></th>
      <th class="tcol-3"></th>
    </thead>
    <tbody>
      <% @user.books.each do |book| %>
      <tr>
        <td><%= book.name %> by <%= book.author %></td>
        <td><button class="table-button"><a href="/books/<%= book.slug %>">details</a></button></td>
        <td>
          <form method="POST" action="/books/<%= book.slug %>/remove">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" id="table-submit" value="remove book from collection">
            </form>
          </td>
      </tr>
      <% end %>
      <tr>
        <td>Add a new book to your collection</td>
        <td><button class="table-button" id="fawe-button"><a href="/books/new"><i class="fa fa-plus" aria-hidden="true"></i>     <i class="fa fa-book" aria-hidden="true"></i></a></button></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <% end %>

  <h3 class="table-title">Fine Music</h3>
  <% if @user.songs.empty? %>
    <p>You don't have any music in your collection. Add one <a href="/songs/new">here</a></p>
  <% else %>
  <table>
    <thead>
      <th class="tcol-1"></th>
      <th class="tcol-2"></th>
      <th class="tcol-3"></th>
    </thead>
    <tbody>
      <% @user.songs.each do |song| %>
      <tr>
        <td><%= song.name %> by <%= song.artist %></td>
        <td><button class="table-button"><a href="/songs/<%= song.slug%>">details</a></td></button>
        <td>
          <form method="POST" action="/songs/<%= song.slug %>/remove">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" id="table-submit" value="remove music from collection">
          </form>
        </td>
      </tr>
      <% end %>
      <tr>
        <td>Add new music to your collection</td>
        <td><button class="table-button" id="fawe-button"><a href="/songs/new"><i class="fa fa-plus" aria-hidden="true"></i>     <i class="fa fa-music" aria-hidden="true"></i></a></button></td>
      </tr>
    </tbody>
  </table>
  <% end %>

  <h3 class="table-title">Fine Art</h3>
  <% if @user.artworks.empty? %>
    <p>You don't have any art in your collection. Add one <a href="/artworks/new">here</a></p>
  <% else %>
  <table>
    <thead>
      <th class="tcol-1"></th>
      <th class="tcol-2"></th>
      <th class="tcol-3"></th>
    </thead>
    <tbody>
      <% @user.artworks.each do |artwork| %>
      <tr>
        <td><%= artwork.name %> by <%= artwork.artist %></td>
        <td><button class="table-button"><a href="/artworks/<%= artwork.slug %>">details</a></td></button>
        <td>
          <form method="POST" action="/artworks/<%= artwork.slug %>/remove">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" id="table-submit" value="remove art from collection">
          </form>
        </td>
      </tr>
      <% end %>
      <tr>
        <td>Add new art to your collection</td>
        <td><button class="table-button" id="fawe-button"><a href="/artworks/new"><i class="fa fa-plus" aria-hidden="true"></i>     <i class="fa fa-picture-o" aria-hidden="true"></i></button></td>
      </tr>
    </tbody>
  </table>
  <% end %>
</div>
