<div class="light-container clear">
  <h3 class="title-2">Music Details:</h3>

  <% if flash.has?(:message) %>
    <p id="flash-message"><%= flash[:message] %></p>
  <% end %>

  <h3><%= @song.name %> by <%= @song.artist %></h3>

  <p>This music is in the collection of <%= @song.users.count %> club member(s).</p>
  <p>Entered into the database by <%= User.find_by_id(@song.creator_id).name %>.</p>

  <button class="button-1-float"><a href="/songs/<%= @song.slug %>/edit">Edit Music Details</a></button>

  <form method="POST" action="/songs/<%= @song.slug %>/delete">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" id="submit-2" value="Delete Music">
  </form>
</div>
