<div class="light-container clear">
  <h3 class="title-2">The Finer Things Club Bookshelf, a listing of all books in the database</h3>

  <p> There are currently <%= @books.count %> fine books on the Club's shelves:<p><br>

    <% if flash.has?(:message) %>
      <p id="flash-message"><%= flash[:message] %></p>
    <% end %>

  <table>
    <thead>
      <th>Title</th>
      <th>Author</th>
      <th></th>
    </thead>

    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= book.name %></td>
          <td><%= book.author %></td>
          <td><button class="button-1"><a href="/books/<%= book.slug %>"> details</a></button>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
