individual book show page

<h1>Book Details:</h1>

<% if flash.has?(:message) %>
  <p><%= flash[:message] %></p>
<% end %>

<h3><%= @book.title %> by <%= @book.author %></h3><br>

<p>This book is in the collection of <%= @book.users.count %> club members.</p>

<a href="/books/<%= @book.id %>/edit">Edit Book Details</a>

<form method="POST" action="/books/<%= @book.id %>/delete">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Book">
</form>
