<div class="light-container clear">
  <h3 class="title-2">Book Details</h3>

  <% if flash.has?(:message) %>
    <p><%= flash[:message] %></p>
  <% end %>

  <br>

  <h3><%= @book.name %> by <%= @book.author %></h3>

  <p>This book is in the collection of <%= @book.users.count %> club member(s).</p>

  <button class="button-1"><a href="/books/<%= @book.slug %>/edit">Edit Book Details</a></button>
  <div class="submit-2">
    <form method="POST" action="/books/<%= @book.slug %>/delete">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" id="submit-2" value="Delete Book">
    </form>
  </div>
</div>
